/* BODY */
body {
font-family: 'Helvetica', Courier New, monospace;
background: #60535326;
line-height: 1.6;
height:100vh;
}

/* TOP OF PAGE */
.head-text{
    padding-top: 75px;
    padding-bottom: 45px;
}

/* MAIN SECTIONS */
.jumbotron{
    border-radius: 70px;
}

.section{
    width: 100%;
    min-height: 200px;
}

/* ATTENTION PLEASE */
.box-style{
    border-style: solid;
    box-shadow: rgb(160, 53, 53) 0px 1px 5px;
    text-shadow: 1px 0px 0px black;
    background-color: yellow;
}

.dosdontstyle {
    border-style: solid;
    box-shadow: rgb(0, 0, 0) 0px 1px 5px;
    text-shadow: 1px 0px 0px black;
}

.submit-style{
    box-shadow: rgb(160, 53, 53) 0px 1px 5px;
    text-shadow: 1px 0px 0px black;
    background-color: #13e500;
}

.reset-style{
    box-shadow: rgb(160, 53, 53) 0px 1px 5px;
    text-shadow: 1px 0px 0px black;
    background-color: #ff2a2a;
}

.dontscolor{
    background-color: yellow;
}

.dontscolor2{
    background-color: #ffff008c;
}

/* TABLE */
table {
    border-collapse: separate;
}

/* NAVBAR */
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1020;
}

.navbar-toggler {
    border-color: rgba(0,0,0,0);
    border-style: none;
}

.navbar-collapse.collapse.show {
    background-color: #e7e5e5;
    border-radius: 20px;
    padding-left: 10px;
}